@import "../utilities/variables.css";
@import "../utilities/global.css";
@import "../utilities/component-templates.css";
.holder {
    padding: 5rem;
}

.select-container {
    display: flex;
    width: 16rem;
    height: 3rem;
    position: relative;
}

.select {
    flex: 1 1 0%;
    appearance: none;
    outline: none;
    border: none;
    background-color: var(--blue-300);
    color: var(--blue-800);
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0.75rem;
    text-transform: capitalize;
    border-radius: 0.25rem;
    overflow: hidden;
}

.option {
    background-color: var(--blue-300);
    text-transform: capitalize;
    color: var(--blue-800);
}

.select-container::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c5282;
    color: white;
    pointer-events: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}